/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/public/img/profile/*
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# exception to the rule
!/public/img/profile/.gitkeep
